html{
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
  background-color: #636766;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}
input:focus{
  outline: none;
}
/* *****************************PAGE PLAYLIST************************ */
.navbar{
  background-color: #C4F8E7;
  height: 90px;
}
.title{
  display: flex;
  height: 80px;
  position: relative;
  margin-left: 36%;
  animation: title 2s ease;
}
@keyframes title {
  0% {
    margin-left: 0%;
  }
  100%{
    margin-left: 36%;
 }
}
.login_user{
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}
.hello{
  margin-right: 10px;
  font-style: italic;

}
.pseudo{
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;

}
.borderLogin{
  border-right: #636766 solid 1px;
  height: 20px;
  margin: 0 40px;
}
.logout{
  margin-right: 20px;
  color: #636766;
}
.logout:hover{
  text-decoration: none;
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
  font-weight: bold;
  color: #636766;
}
h1{
  font-size: 60px;
  color: white;
  margin-right: 16px;
}
h2{
  transition: ease;
  margin: 20px 16px;
  font-size: 60px;
  color: white;
  text-shadow: 5px 5px rgb(169, 243, 218);
}
.imgHP{
  width: 80px;
}
.container{
  display: flex;
  margin-top: 8%;
  justify-content: space-between;
  width: 100%;
}
.player{
  width: 50%;
}
.playlist{
  display: flex;
  width: 50%;
}
.music{
  height: 318px;
  overflow-y: scroll;
}
.music::-webkit-scrollbar{
  background-color: transparent;
}
.new_music{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.input_playlist{
  display: flex;
  flex-direction: row;
}
.trash{
  display: flex;
  align-self: center;
}
.borderB{
  width: 400px;
  margin: 5px;
  border-bottom: 1px solid #C4F8E7;
}
.play, .pause{
  align-self: center;
  margin: 2px;
}
.urlPlaylist{
  width: 300px;
  margin: 8px;
  border-radius: 10px;
  font-size: 16px;
}
.add{
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}
.add_url{
  width: 300px;
  border-radius: 10px;
}
.plus{
  margin-left: 10px;
  width: 32px;
}
.plus:hover, .play:hover, .pause:hover, .delete:hover{
  transform: scale(1.1);
  cursor: pointer;
}
/* ***************************PAGE CONNECTION********************** */
.log_sign{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.login{
  margin-top: 4%;
}
.login, .sign_in{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login input, .sign_in input{
  display: block;
  width: 400px;
  border-radius: 6px;
  height: 40px;
  margin-top: 10px;
  background-color: #C4F8E7;
  font-size: 16px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
button{
  justify-content: center;
  margin-top: 20px;
  width: 150px;
  border-radius: 6px;
  height: 36px;
  background-color: rgb(116, 111, 111);
  color: #AAF4DB;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}
button:hover{
  transform: scale(1.2);
  transition: 1s;
}
.borderR{
  margin: 0 40px;
  border-right: 2px solid white;
}
.error{
  color: white;
  font-size: 12px;
}